

<div class="Match show">
  <h2>Your Match Today</h2>

    <table summary="You Match detail view">
    <tr>
      <th>Your match today</th>
      <td>
        <% if !@user_today_match.nil? %>
        <%= @user_today_match.first_name %>
        <% end %>
      </td>
    </tr>
    </table>

    <h2>Your Match History</h2>
    <table summary="Your Match History">
    <tr>
      <th>Date</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <% @user_match.each do |match| %>
    <tr>
      <td><%= match %></td>
    </tr>
    <% end %>
  </table>
</div>
