

<div class="Match show">
  <h2>Your Match Today</h2>

    <table summary="You Match detail view">
    <tr>
      <th>Your match today</th>
      <td><%= @user.first_name %></td>
      <!-- find a way to get his/her match only for that specific day (<% @user.matches.each do |match| %>) -->
    </tr>
    </table>

    <h2>Your Match History</h2>
    <table summary="Your Match History">
    <tr>
      <th>Date</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <% @matches.each do |match| %>
    <tr>
      <td><%= match.day %></td>
      <td><%= match.firts_name %></td>
      <td><%= match.last_name %></td>
    </tr>
    <% end %>
  </table>


</div>
