<%= error_messages_for(f.object) %>

<table summary="Make a new match">
  <tr>
    <th>Date</th>
    <td><%= f.text_field(:day) %></td>
  </tr>
  <tr>
    <th>Student-1</th>
    <td><%= f.object.match.student1.first_name %></td>
  </tr>
  <tr>
    <th>Student-2</th>
    <td><%= f.object.match.student2.first_name %></td>
  </tr>
</table>


<!-- form should be changed/ it is just a guideline -->
