

<%= link_to("<< Back to Admin", users_path, :class => 'back-link') %>

<div class="matches index">
  <h2>Lis of Matches</h2>

  <%= link_to("Add New Match", new_match_path, :class => 'action new') %>

  <table class="listing" summary="Match list">
    <tr class="header">
      <!-- <th>Date</th>
      <th>Student-1</th>
      <th>Student-2</th> -->
    </tr>
    <% @all_matches.each do |match| %>
    <tr>
      <td><%= match %></td>
    </tr>
    <% end %>
  </table>
</div>
