

<%= link_to("<< Back to Match List", matches_path, :class => 'back-link') %>

<div class="matches new">
  <h2>Create Match</h2>

  <%= form_for @match, :url => matches_path do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>


  <% end %>
</div>
